<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Message</a>
<table>
    <tr>
        <th>Message</th>
        <th>Sent By</th>
        <th>Date Posted</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.sentby}"></td>
        <td th:text="${message.postdate}"></td>
        <td><img th:src="${message.image}" height="50" width="60"/></td>
        <td>
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>


        </td>
    </tr>
</table>
</body>
</html>