<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Message Form</title>
</head>
<body>
<form action="#" th:action="@{/process}" th:object="${message}" method="post">
    <input type="hidden" th:field="*{id}" />

    Message :<textarea rows="3" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span><br />

    Date Posted :<input type="date" th:field="*{postdate}" />
    <span th:if="${#fields.hasErrors('postdate')}"
          th:errors="*{postdate}"></span><br />

    Image URL :<input type="text" th:field="*{image}" />
    <span th:if="${#fields.hasErrors('image')}"
          th:errors="*{image}"></span><br />

    Sent By :<input type="text" th:field="*{sentby}" />
    <span th:if="${#fields.hasErrors('sentby')}"
          th:errors="*{sentby}"></span><br />

    <br />

    <input type="submit" value="Submit" />
</form>
</body>
</html>